.survey {
    height: 100%;

    .question_type_wrap {
        width: 233px;
        height: 100%;
        overflow: auto;
        padding: 12px 0 0 12px;
        background-color: #fafafa;
        position: fixed;
        top: 64px;
        left: 72px;
        z-index: 2;
        border-right: 1px solid #dde5ed;

        dt {
            margin: 10px 0;
            color: #4a4a4a;
            font-size: 14px;
            margin-top: 6px;
            font-weight: normal;
        }

        .wrap {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            label {
                display: inline-block;
                width: 96px;
                height: 30px;
                line-height: 30px;
                color: #707070;
                font-size: 12px;
                padding: 1px;
                border: solid 1px #d8d8d8;
                background-color: #ffffff;
                border-radius: 2px;
                margin: 0 6px 6px 0;
                cursor: pointer;
                vertical-align: middle;

                &:hover {
                    border: solid 2px #2672ff;
                    color: #2672ff;

                    .icon_type_single {
                        background-position: -72px -7px;
                    }

                    .icon_type_multiple {
                        background-position: -100px -7px;
                    }

                    .icon_type_image {
                        background-position: -100px -39px;
                    }

                    .icon_type_dropdown {
                        background-position: -72px -135px;
                    }

                    .icon_type_blank {
                        background-position: -72px -39px;
                    }

                    .icon_type_multiple_blank {
                        background-position: -72px -71px;
                    }
                }

                i> {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background: url('../images/icon_edit_question.png') no-repeat;
                    background-size: 135px;
                    vertical-align: top;
                    margin: 3px;
                }

                .icon_type_single {
                    background-position: -8px -7px;
                }

                .icon_type_multiple {
                    background-position: -36px -7px;
                }

                .icon_type_image {
                    background-position: -36px -39px;
                }

                .icon_type_dropdown {
                    background-position: -8px -135px;
                }

                .icon_type_blank {
                    background-position: -8px -39px;
                }

                .icon_type_multiple_blank {
                    background-position: -8px -71px;
                }
            }
        }
    }

    .survey_main_wrap {
        height: auto;
        width: 834px;
        margin-left: 233px;
        margin-bottom: 100px;

        .question-box {
            margin: 18px;
        }

        .operation_btn {
            text-align: center;
            margin-bottom: 15px;

            >button {
                width: 80px;
                height: 32px;
                border-radius: 6px;
                background-color: #2672ff;
                line-height: 32px;
                text-align: center;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                border: none;
                margin-right: 30px;
            }

        }

        .question {
            margin: 12px 0;
            border-radius: 2px;
            background-color: #ffffff;
            /* border: solid 2px #ffffff; */
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            position: relative;


            .question_hover {
                &:hover {
                    .q_operate {
                        display: flex;
                        transform: translateX(0);
                    }
                }

            }

            .q_content_wrap {
                .q_content {
                    padding: 18px 40px 18px 30px;

                    .q_option_ul {
                        .option_item {
                            margin: 6px 0 0;
                            position: relative;
                            box-sizing: border-box;
                            cursor: pointer;

                            .icon_hover {
                                display: inline-block;
                                position: absolute;
                                height: 24px;
                                width: 24px;
                                line-height: 42px;
                                background-image: url('../images/icon_edit_tools.png');
                                background-repeat: no-repeat;
                                background-size: 520px auto;
                                cursor: pointer;
                                background-position: 0 -48px;
                            }
                        }

                    }

                    .q_type {
                        height: 32px;
                        line-height: 32px;
                        font-weight: bold;
                    }

                    .q_title_wrap {
                        display: flex;

                        .q_seq {
                            padding-right: 10px;
                        }

                        .content_editable {
                            box-sizing: border-box;
                            border-radius: 2px;
                            border: solid 1px transparent;
                            color: #484848;
                            padding-left: 10px;

                            &:hover {
                                border: 1px dotted #eee;
                            }
                        }
                    }

                    .q_option_list {
                        margin: 6px 0 0 16px;

                        .content_editable {
                            position: relative;
                        }

                        .icon_radio {
                            position: absolute;
                            top: 13px;
                            left: 14px;
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            border: solid 1px #aaaaaa;
                            background-color: #ffffff;
                        }

                        .option_title {
                            padding: 5px 10px 5px 35px;
                            font-size: 14px;
                            min-height: 20px;
                            word-wrap: break-word;
                            width: 80%;
                        }

                        .operation_delete {
                            position: absolute;
                            right: 16%;
                            top: 10px;
                            background-position: -48px -48px;
                        }
                    }

                    .q_option_operate {
                        padding: 24px 0 0 44px;

                        .btn_text_icon {
                            padding: 3px 8px 3px 6px;
                            margin-right: 18px;
                            vertical-align: middle;
                            color: #2672ff;
                        }
                    }
                }
            }

            .q_operate {
                width: 48px;
                background: #fafafa;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                transform: translateX(100%);
                transition: transform .2s;
                z-index: 3;
                align-items: center;
                display: none;

                .q_operate_inner {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 48px;
                }
            }

            .icon_operate {
                width: 24px;
                height: 24px;
                background: url('../images/icon_edit_tools.png') no-repeat;
                background-size: 520px auto;
                vertical-align: middle;
                display: inline-block;
            }

            .icon_add {
                background-position: -96px 0;
            }

            .icon_add_more {
                background-position: -96px -49px;
            }

            .icon_add_other {
                background-position: -480px -192px;
            }

            .btn_question_edit {
                background-position: -96px -24px;
            }

            .btn_question_clone {
                background-position: -96px -24px;
            }

            .btn_question_dele {
                background-position: -144px -24px;
            }
        }

        .question_focus {
            box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
            border: solid 2px #2672ff;
            outline: none;
            margin: 24px 0;
        }
    }
}